/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */
/*
body {
  color: black;
  font-family: Verdana;
  font-family: 'Poiret One', cursive;

}*/

#main {
	color: white;
	padding: 0;
	margin: 0;
}

hr { 
    display: block;
    /*margin-top: 0.5em;*/
    /*margin-bottom: 0.5em;*/
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 50vw;
    background-blend-mode: 
} 

#myDIV {
    padding: 0;
    -webkit-animation: mymove 3s infinite; /* Chrome, Safari, Opera */
    animation: mymove 3s ;
    animation-iteration-count: 1;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {width: 0vw;}
    to {width: 50vw;}
}

/* Standard syntax */
@keyframes mymove {
    from {width: 0vw;}
    to {width: 50vw;}
}

.parallax {
    /* The image used */
    background-image: url('./website_background.jpg');

    /* Full height */
    height: 100vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.para_chunk {
    background-color: rgb(194,194,194);
    color: white;
	font-size: 75px;
	padding-top: 35vh;
    font-family: 'Poiret One', cursive;
}

#about {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#sub-body {
    color: #373737;
    font-size: 35px;
}

.word-wrap {
    width: 30em;
    opacity: 0;
    -webkit-transform: translateX(50px) translateZ(0);
    -ms-transform: translateX(50px) translateZ(0);
    transform: translateX(50px) translateZ(0);
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}