.background {
    background-color: lightsalmon;
    min-height: 100vh;
}
  
.daniel {
    width: 50vh;
    height: auto;
}

.row {
    column-count: 2;
    padding: 10% 0 0 15%;
    column-gap: 0px;
    font-family: barlow;
}
.block {
    display: inline-block;
}

.text {
    margin: 0;
}

.logo {
    width: 5.5vh;
    height: auto;
    padding-top: 5%;
    padding-right: 5%;
}

.logo-animation {
    width: 5.5vh;
    height: auto;
}

.logo-animation:hover {
    padding-top: 3%;
}